{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block content %}
    <div class="card">
        <div class="card-header">
            <h2>Join Uni Hub</h2>
        </div>
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    {% if form.errors %}
                        <div class="alert alert-danger">
                            {% for field in form %}
                                {% for error in field.errors %}
                                    {{ field.label }}: {{ error }}
                                    <br>
                                {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                                {{ error }}
                                <br>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {{ form.as_p }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Sign Up</button>
                </div>
            </form>
            <div class="border-top pt-3">
                <small class="text-muted">
                    Already have an account? <a href="{% url 'login' %}">Sign In</a>
                </small>
            </div>
        </div>
    </div>
{% endblock content %}